.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    padding: 16px 12px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14.25px;
    white-space: nowrap;
}

.button span {
    display: flex;
    position: relative;
    bottom: 0.1px;
}