.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    padding: 16px 12px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14.25px;
    white-space: nowrap;
    transition: 0.35s all ease;
}

.button:hover {
    opacity: 92.5%;
}

.button:active {
    opacity: 75%;
    transform: scale(0.95);
}

.button span {
    display: flex;
    position: relative;
    bottom: 0.1px;
}